<form id="test_form">
  <div class="form-group">
    <label class="control-label" for="aaa">Первый подход</label>
    <input class="form-control" id="aaa" type="text" placeholder="40 кг">
  </div>
  <div class="form-group hidden_f">
    <label class="control-label" for="bbb">Второй подход</label>
    <input class="form-control" id="bbb" type="text" placeholder="20 кг">
  </div>
  <div class="form-group hidden_f">
    <label class="control-label" for="ccc">Третий подход</label>
    <input class="form-control" id="ccc" type="text" placeholder="20 кг">

  </div>
  <h3 class="hidden_f total_f"></h3>
</form>
<table>

      <tr>
        <td>
          <th>Понедельник</th>
        </td>
      </tr>
      <tr>
        <td>
          <ol>
            <li><%= @first_day[:first].name_exercise %></li>
            <li><%= @first_day[:second].name_exercise %></li>
            <li><%= @first_day[:third].name_exercise %></li>
            <li><%= @first_day[:fourth].name_exercise %></li>
            <li><%= @first_day[:fifth].name_exercise %></li>
            <li><%= @first_day[:sixth].name_exercise %></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>
        <th>Среда</th>
        </td>
      </tr>
      <tr>
        <td>
          <ol>
            <li><%= @second_day[:first].name_exercise %></li>
            <li><%= @second_day[:second].name_exercise %></li>
            <li><%= @second_day[:third].name_exercise %></li>
            <li><%= @second_day[:fourth].name_exercise %></li>
            <li><%= @second_day[:fifth].name_exercise %></li>
            <li><%= @second_day[:sixth].name_exercise %></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>
        <th>Пятница</th>
        </td>
      </tr>
      <tr>
        <td>
          <ol>
            <li><%= @third_dey[:first].name_exercise %></li>
            <li><%= @third_dey[:second].name_exercise %></li>
            <li><%= @third_dey[:third].name_exercise %></li>
            <li><%= @third_dey[:fourth].name_exercise %></li>
            <li><%= @third_dey[:fifth].name_exercise %></li>
            <li><%= @third_dey[:sixth].name_exercise %></li>
          </ol>
        </td>
      </tr>

</table>
