
<p>Welcome!</p>

<table>
  <tr>
    <th>Название</th>
    <th>Главная мышца</th>
    <th>Косвенное воздействие</th>
    <th>Эффективность</th>
    <th>Группа мышц</th>
    <th>Подгруппа</th>
    <th colspan="2"></th>
  </tr>
  <% @exercise.each do |exercise| %>
      <tr>
        <td><%= exercise.name_exercise %></td>
        <td><%= exercise.main_muscle %></td>
        <td><%= exercise.indirect_action %></td>
        <td><%= exercise.effect %></td>
        <td><%= exercise.group %></td>
        <td><%= exercise.sub_group %></td>

      </tr>
  <% end %>
</table>